 p{
    color:red;
    font-size:30px;
} 
.nancy{
    color:green;
    font-size:25px;
    font-style:"italic";
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nanzz{
    width:150px;

}
#swarna{
    color:hotpink;
    font-size:30px;
}
#hasim{
    width:300px;
}
#happy{
    color:yellow;
}